version: "3.9"

services:
  mongo:
    image: mongo:7
    volumes:
      - mongo_data:/data/db
    networks:
      - mern-net

  backend:
    build: ./backend
    env_file:
      - .env
    ports:
      - "5000:5000"
    depends_on:
      - mongo
    networks:
      - mern-net

  frontend:
    build: ./frontend
    ports:
      - "3000:80"
    depends_on:
      - backend
    networks:
      - mern-net

volumes:
  mongo_data:

networks:
  mern-net:
