version: "3.9"

services:
  mongo:
    image: mongo:7
    container_name: mongo
    volumes:
      - mongo_data:/data/db
    networks:
      - app-net

  backend:
    image: ghcr.io/mehulchauhan-07/notes-backend:v1.0.5
    container_name: backend
    env_file:
      - .env
    ports:
      - "5000:5000"
    depends_on:
      - mongo
    networks:
      - app-net

  frontend:
    image: ghcr.io/mehulchauhan-07/notes-frontend:v1.0.5
    container_name: frontend
    ports:
      - "3000:80"
    depends_on:
      - backend
    networks:
      - app-net

volumes:
  mongo_data:

networks:
  app-net:
