name: CD - Build & Push Docker Images

on:
  push:
    tags:
      - "v*"

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Login to GitHub Container Registry
        run: echo "${{ secrets.GHCR_TOKEN }}" | docker login ghcr.io -u ${{ github.actor }} --password-stdin

      - name: Build & push backend image
        run: |
          docker build -t ghcr.io/${{ github.repository_owner }}/notes-backend:${{ github.ref_name }} ./backend
          docker push ghcr.io/${{ github.repository_owner }}/notes-backend:${{ github.ref_name }}

      - name: Build & push frontend image
        run: |
          docker build -t ghcr.io/${{ github.repository_owner }}/notes-frontend:${{ github.ref_name }} ./frontend
          docker push ghcr.io/${{ github.repository_owner }}/notes-frontend:${{ github.ref_name }}
