name: Deploy Frontend to Kubernetes

on:
  push:
    tags:
      - v*

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Setup kubeconfig
        run: |
          mkdir -p ~/.kube
          echo "${{ secrets.KUBE_CONFIG }}" > ~/.kube/config

      - name: Deploy frontend image
        run: |
          kubectl set image deployment/frontend \
            frontend=ghcr.io/mehulchauhan-07/notes-frontend:${{ github.ref_name }} \
            -n notes

      - name: Verify rollout
        run: |
          kubectl rollout status deployment/frontend -n notes
