name: Build & Deploy Frontend

on:
  push:
    branches:
      - main
    paths:
      - frontend/**

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Login to GHCR
        run: echo "${{ secrets.GITHUB_TOKEN }}" | docker login ghcr.io -u ${{ github.actor }} --password-stdin

      - name: Build Docker image
        run: |
          docker build \
            -t ghcr.io/mehulchauhan-07/notes-frontend:${{ github.sha }} \
            ./frontend

      - name: Push Docker image
        run: |
          docker push ghcr.io/mehulchauhan-07/notes-frontend:${{ github.sha }}

      - name: Setup kubeconfig
        run: |
          mkdir -p ~/.kube
          echo "${{ secrets.KUBE_CONFIG }}" > ~/.kube/config

      - name: Deploy to Kubernetes
        run: |
          kubectl set image deployment/frontend \
            frontend=ghcr.io/mehulchauhan-07/notes-frontend:${{ github.sha }} \
            -n notes
